.App-box {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-pledge {
  text-align: left;
  width: 60%;
  padding: 20px;
  color: lightblue;
  border: 1px solid #61dafb;
  background-image: url("black-parchment.jpg");
}

#pledge-text {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.quote {
  display:inline-block;
 }

#quote-text {
  text-align: center;
  width: 100%;  
  color: lightyellow;
  margin-bottom: 0;
  font-style: italic;
}

#author {
  text-align: center;  
  width: 100%;
  color: lightgreen;
  margin-top: 0;
}

.sliders {
  margin: 3%;
}

#wisdom, #courage, #justice, #moderation {
  display: flex;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10% 0 15% 0;
}

tbody {
  text-align: center;
}

tr, td, th {
  border: 1px solid blanchedalmond;
  padding: 1%;
  min-width: 100%;
  text-align: right;
  padding: 3px 20px;
}